@import "../../utils/variable.scss";

.header-container{

    background-color: $navbar-background;

    .header-content{

        padding: 50px;

        .left-side{
            padding-left: 50px;
            font-family: $main_font;

            h1{
                font-family: $main_font;
                font-size: 60px;
            }

            p{
                margin-top: 30px;
                font-size:20px;
                margin-bottom: 50px;
            }
        }

        .right-side{

            .header-img{

                margin-top: -50px;
                padding-left:50px;
            }
        }
    }


}