@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');


$navbar-background: #DBDFFD;
$background-grey: #f8f8f8;
$button-bk: #242F9B;
$main_font:'Fredoka', sans-serif;
