.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.max-width{
    margin: 0 auto;
    max-width: 1200px;

}
.btn-default{
  background-color: transparent;
  border: 1px solid #242F9B;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Fredoka', sans-serif;
  color: black;
  text-decoration: none;

}

.btn-background{

  background-color: #242F9B;
  color: white;
  margin-top: 0px !important;
  margin-top:10px;
  margin-bottom: 10px;;
}

.btn-danger{

  background-color: red;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: 'Fredoka', sans-serif;
  color: white;
  text-decoration: none;
  
}

.btn-default:hover{

    background: #242F9B;
    color: white;
    text-decoration: none;
}

.margin-top{

  margin-top: 20px;
}
.float-right{

  display: flex;
  justify-content: right;
}

.space-between{
  
  display: flex;
  justify-content: space-between;

}

.text-decoration{

  text-decoration: none;
  color: black;
}
.text-decoration:hover{
  text-decoration: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
